  <tr>
    <td>
      <%= content_tag :span, test.title, class: 'test-title' ,data: { test_id: test.id } %>
      <%= render 'form_inline', test: test == @test ? @test : test%>
    </td>
    <td><%= test.level %></td>
    <td><%= test.category.title %></td>
    <td><%= test.author.email %></td>
    <td><%= test.created_at.to_formatted_s(:rfc822)  %></td>
    <td><%= test.updated_at.to_formatted_s(:short)  %></td>
    <td>
      <div class="ui left labeled button" tabindex="0">
          <%= link_to 'Edit',
                      "#",

            id: "edit_test_title",
            data: { test_id: test.id },
            class: 'ui button edit icon'
          %>
          <%= link_to test.questions.count, admin_test_questions_path(test), class: "ui basic label"%>
        <div class="ui icon button">
          <%= link_to "<i class='add icon'></i>".html_safe, new_admin_test_question_path(test)%>
        </div>
      </div>
    </td>
  </tr>
