<div class="ui grid">
  <div class="two wide column"></div>
  <div class="two wide column"><h1 class="ui header"><%= t('tests.index.header') %></h1></div>
  <div class="two wide column"></div>
  <div class="two wide column"></div>
  <div class="two wide column"></div>
  <div class="two wide column"></div>
  <div class="three wide column"></div>
  <div class="one wide column"></div>
</div>

<div class="ui grid">
  <div class="two wide column"></div>
  <div class="twelve wide column">
      <table class="ui celled padded table"  id="sortedMy">
        <thead>
          <tr>
            <th><%= t('active_record.attributes.test.title') %></th>
            <th><%= t('active_record.attributes.test.level') %></th>
            <th><%= t('active_record.attributes.test.category_id') %></th>
            <th><%= t('active_record.attributes.test.author') %></th>
            <th><%= t('active_record.attributes.test.created') %></th>
            <th><%= t('active_record.attributes.test.updated') %></th>
            <th><%= t('active_record.attributes.test.question_id') %></th>
          </tr>
        </thead>
        <%= render @tests %>
      </table>
  </div>
</div>

<div class="ui grid">
  <div class="two wide column"></div>
  <div class="two wide column"><%== pagy_semantic_nav(@pagy).html_safe %></div>
</div>
