<h2>New test</h2>

<%= form_for @test do |f| %>
  <%= f.text_field :title %> <br>
  <%= f.text_field :level %> <br>
  <%= select_tag 'test[author_id]', options_from_collection_for_select(User.all, 'id', 'username') %> <br>
  <%= select_tag 'test[category_id]', options_from_collection_for_select(Category.all, 'id', 'title') %> <br>
  <%= f.submit %>
<% end %>
