<div class="ui grid">
  <div class="two wide column"></div>
  <div class="two wide column">
    <h2 class="ui header">New test</h2>
  </div>
</div>

<div class="ui grid">
  <div class="two wide column"></div>
  <div class="five wide column">

    <%= form_for @test, html: { class: "ui form" } do |f| %>
        <div class="field">
          <%= f.text_field :title %>
        </div>
        <div class="field">
          <%= f.text_field :level %>
        </div>
          <div class="field">
            <%= select_tag 'test[author_id]', options_from_collection_for_select(User.all, 'id', 'username') %>
          </div>

        <div class="two fields">
          <div class="field">
            <%= select_tag 'test[category_id]', options_from_collection_for_select(Category.all, 'id', 'title') %>
          </div>
        </div>
      <%= f.submit class: "ui button"%>
    <% end %>

  </div>
</div>
