<!DOCTYPE html>
<html>
  <head>
    <title>Tstguru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= render 'layouts/menu' %>
    <%= render 'layouts/messages' %>
    <% if logged_in? %>
    <p><%= render 'sessions/card' %></p>
    <% end %>
      <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
