<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="UTF-8">

    <title>Tstguru</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

  <div class="ui grid">
    <div class="column">
      <div class="one column row">
        <%= render 'layouts/menu' %>
        <%= render 'shared/messages' %>
      </div>
    </div>
  </div>

  <div class="">
    <div class="">
      <div class="">
        <% if user_signed_in? %>
          <p><%= render 'shared/card' %></p>
        <% end %>
      </div>
      <div class="">
        <%= yield %>

      </div>
    </div>
  </div>

  <div class="ui grid">
    <div class="column">
      <div class="one column row">
        <%= render 'layouts/footer' %>
      </div>
    </div>
  </div>

  </body>
</html>
